
.download-container{
    width: 100%;
    height: 400px;
    padding: 10px 100px;

}

.download{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #31A0FE;
    display: flex;
    justify-content: space-between;
}
.download-description{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.download-description>div{
    font-size: 3em;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.download-description>p{
    color: rgb(244, 239, 239);
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.4px;

}
.download-description>button{
    width: 110px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #252B42;
    color:white;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.download>img{
    width: 50%;
    height: 100%;
}