.download-container {
    width: 100%;
    height: 400px;
    padding: 10px 100px;

}

.download {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #31A0FE;
    display: flex;
    justify-content: space-between;
}

.download-description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 50px;
}

.download-description>div {
    font-size: 3em;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.download-description>p {
    color: rgb(244, 239, 239);
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.4px;

}

.download-description>button {
    width: 110px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #252B42;
    color: white;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.download>img {
    width: 50%;
    height: 100%;
}

.footer {
    height: 300px;
    width: 100%;
    padding: 50px 100px;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-innercover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-for-icon{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-for-icon > img{
    width: 90px;
    height: 100px;
    object-fit: contain;
}
.container-for-icon>p{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    letter-spacing: 0.5px;
    color: rgb(88, 81, 81);
}
.container-for-info,.container-for-features{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-for-info>p, .container-for-features>p{
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: rgb(88, 81, 81);
}