:root{
    --header-height:70px ;
    --smaller-text-color:#737373;
}

.header{
    font-family:Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 100%;
    height: var(--header-height);
    padding: 0 100px;
}
.main-cover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    height: 100%;
    width: 12%;
}
.navbar{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-evenly;
    /* gap: 15%; */
    align-items: center;
    font-size: 14px;
    color: var(--smaller-text-color);
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.signup-button{
    background-color: #31A0FE;
    color: white;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 0.99em;
}
