
.landing-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max(600px, calc(100% - var(--header-height)));
    background-image: url(/background.svg);
    background-size: cover;
    padding: 0 100px;
}
.view-maincover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.landing-view-description,.landing-view-image{
    height: 100%;
    width: 45%;
}
.landing-view-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.main-description{
    color: #212145;
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.6em;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3em;
}
.sub-description{
    color: grey;
    font-size: 0.8em;
    letter-spacing: 0.2px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
}
.appstore-buttons-container{
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 5%;
}
.googleplay,.appleplay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px;
    background-color: #252B42;
    width: 200px;
    height: 70px;
    border-radius: 7px;
    color: white;
    line-height: 1em;
}
.appstore-buttons-container img{
    width: 25px;
    height: 100%;
}
.appstore-buttons-container aside{
    font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.appstore-buttons-container p{
    font-family: 'Montserrat Regular', 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 16px;
}
.landing-view-image{
    position: relative;

}
.landing-view-image>img{
    width: 100%;
    height: 100%;
}

.bottom-right-float,.top-left-float{
    font-family: Cabin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: max-content;
    gap: 5px;
    font-size: 12px;
}
.top-left-float{
    top: 25%;
    left: 0%;
    background-color: #31A0FE;
}
.bottom-right-float{

    top: 60%;
    left: 150px;
    background-color: #EC5C2E;
}